#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    margin-top: 56px;
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}

.preloader {
    width: 100%;
}

.card .card-img {
    height: 300px;
    position: relative;
    padding: 20px;
}

.card .card-img svg {
    position: absolute;
    width: 64px;
    height: 64px;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
}
.card .card-img img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
    object-position: center;
    position: relative;
    z-index: 1;
}

.text-crossed {
    text-decoration: line-through;
}

header .cart {
    border: none;
    background: none;
    height: calc(24px + 1rem);
    line-height: 1;
    position: relative;
}
.modal {
    background-color: #00000060;
}
.modal-content {
    animation: fade-in .3s ease-in-out;
}
.cart-count {
    width: 120px;
    white-space: nowrap;
}

.toast {
    position: fixed;
    top: 70px;
    right: 1rem;
    z-index: 2;
    max-width: 200px;
    animation: fade-in .3s ease-in-out;
}

@media (min-width: 560px) {
    .toast {
        max-width: 500px;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(2rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}